{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Barlow&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body style="background-color:White;">

    <div class="page-header" >
    		
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'profile' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>
        {% endif %}
        <h1><a href="/">Owen Vint</a></h1>
        <h2><a href="/">Third Year Computer Science Student</a></h2>
        <h3><a href="/">University Of Birmingham</a></h3>
    </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

    
</body>
</html>