
{% extends 'blog/base.html' %}

{% block content %}
    <head>
     <title>CV Page</title>
    </head>
    <div class="prof">
        {% if profile.published_date %}
            <div class="date">
                Last Edited: {{ profile.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'profile_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
        <h2>{{ profile.name }}</h2>
        <p>{{ profile.overview|linebreaksbr}}</p>
        <p>{{ profile.personal_details|linebreaksbr}}</p>
        <p>{{ profile.experience|linebreaksbr }}</p>
        <p>{{ profile.education|linebreaksbr }}</p>
        <p>{{ profile.skills|linebreaksbr }}</p>
        <p>{{ profile.interests|linebreaksbr }}</p>
        <p>{{ profile.references|linebreaksbr }}</p>
        <p>Last Edited: {{ profile.published_date }}</p>

    </div>
{% endblock %}
