.page-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 4px 20px 20px 40px;
    padding-bottom: 0%;
    background-size: cover;
    position: relative;
    background: url("/static/pictures/banner.jpg");
    
}



.header-photo {
    height: 200px;
    width: 200px;
    margin-top:0px;
}

.footer {
    position: absolute;
    height: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-size: cover;
    background-image: url("/static/pictures/banner.jpg");
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 50pt;
    text-align: center;
    margin-right: 178pt
}
.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 35pt;
    text-align: center;
   
}

.page-header h3, .page-header h3 a, .page-header h3 a:visited, .page-header h3 a:active {
    color: #ffffff;
    font-size: 35pt;
    text-align: center;
    margin-right: 88pt

}

.page-header-img {
    width: 100%;
}

.content {
    margin-left: 550px;


}

h1, h2, h3, h4 {
    font-family: 'Barlow', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}